html {
  height: 100%;
}

body {
  height: 100%;
}

#root {
  height: 100%;
}

.app {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.message-list {
  display: flex;
  flex-direction: column;
}

.user-list {
  display: flex;
  flex-direction: column;
}
